fastapi
uvicorn
sentence-transformers
pinecone-client
google-genai
python-dotenv
pytest
PyPDF2
pdfplumber
python-docx
scikit-learn
tenacity
pymongo
slowapi
PyJWT
bcrypt
redis
prometheus_client
pydantic-settings
pytest-mock
mongomock